body, html {
    background-image:url("../images/woodbackground.png");
}


p {
    font-family:fantasy;
    border: bold 10px;
    font-size:20px;
    padding:20px;
}

h1 {
    font-family:fantasy;
    border: bold 20px;
    font-size: 40px;
    padding:20px;

}

h3 {
    border: 25px;
    font-family:fantasy;
    font-size:40px;
    padding:20px;
    text-align:center;
}

image1 {
    padding:20px 200px 20px 100px;
}


